@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i');

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-top: 30px;
        font-family: 'Crimson Text', serif;
        font-size: 20px;
        text-align: center;
        width: 90%;
    }
}

.about-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin-top: 25px;
        width: 335px;
    }
    p {
        width: 335px;
        font-family: 'Crimson Text', serif;
        text-align: center;
        font-size: 18px;
    }
    h4 {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        color: #68BABA;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: -5px;
    }
    div {
        margin-top: -30px;
        display: flex;
        width: 115px;
        align-items: center !important;
        i {
            color: #68BABA; 
            margin-top: 4px;
        }
    }
}

.learn-more {
    color: #68BABA;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px){
    .about-tile-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around !important;
    }
    .about-container {
        margin-top: 40px;
        margin-bottom: 40px;
        h3 {
            font-size: 30px;

            text-align: center;
            width: 80%;
        }
    }
}