.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin-top: 30px;
        font-family: $font2;
        font-size: 20px;
        text-align: center;
        width: 90%;
    }
}

.about-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin-top: 25px;
        width: 335px;
        height: 210px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
    img:hover {
        transform: scale(1.03);
    }
    p {
        width: 335px;
        font-family: 'Crimson Text', serif;
        text-align: center;
        font-size: 18px;
    }
    h4 {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        color: $ltBlue;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: -5px;
    }
    div {
        margin-top: -30px;
        display: flex;
        width: 115px;
        align-items: center !important;
        i {
            color: $ltBlue; 
            margin-top: 4px;
        }
    }
}

.learn-more {
    color: $ltBlue;
}

.partition {
    margin-top: 15px;
    height: 90px;
    width: 100%;
    background-color: $dkGray;
    border-bottom: 4px solid $gold;
    border-top: 4px solid $gold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    i {
        color: $gold;
        margin-bottom: 5px;
    }
}

@media (min-width:818px){
    .about-tile-container {
        width: 90%;
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: center !important;
        grid-gap: 10px;
    }
    .about-container {
        margin-top: 40px;
        margin-bottom: 40px;
        h3 {
            font-size: 30px;
            text-align: center;
            width: 80%;
        }
    }
    .partition {
        height: 100px;
    }
}

@media (min-width:925px){
    .about-tile-container {
        grid-gap: 30px;
    }

}

@media (min-width:1100px){
    .about-tile-container {
        grid-gap: 50px;
    }

}

@media (min-width:768px){
    .partition {
        margin-top: 15px;
        height: 130px;
    }
}