// REVIEW CAROUSEL //

.review-carousel {
    min-height: 130px;
    background-color: rgba($color: $dkGray, $alpha: 1);
    border-bottom: 4px solid $gold;
    border-top: 4px solid $gold;
}

.review-slide {
    height: 12px !important;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    p {
        color: $ltGray;
        width: 85%;
        padding-left: 15px;
        margin-left: 5px;
    }
    p:nth-child(1){
        font-style: italic;
        font-size: 12px;
        margin-top: 18px !important;
    }
    p:nth-child(2) {
        font-size: 10px;
        margin-left: 10px;
    }
    p:nth-child(3) {
        font-size: 8px;
        margin-left: 10px;
        margin-top: -8px;
        color: $gold;
    }
}

@media (min-width:768px){
    .review-slide {
        padding-left: 25px;
        padding-top: 18px;
        p:nth-child(1){
            margin-top: 0px !important;
            font-size: 14px;
        }
        p:nth-child(2) {
            font-size: 13px;
        }
        p:nth-child(3) {
            font-size: 10px;
            margin-top: -8px;
        }
    }
}

@media (min-width:1000px){
    .review-slide {
        height: 175px;
        padding-left: 35px;
        p:nth-child(1){
            margin-top: 30px;
        }
    }
}

// ===== REVIEW MAIN ===== //

.review-card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}

.review-card {
    border: solid 2px $gold;
    margin: auto;
    width: 340px;
    display: flex;
    flex-direction: column;
    font-family: $font2;
    align-items: center;
    i {
        font-size: 20px;
        color: $gold;
        background-color: $dkGray;
        padding: 10px;
        border-radius: 50%;
        position: relative;
        bottom: 22px;
    }
    span {
        margin-top: -5px;
        width: 91%;
        text-indent: 30px;
        line-height: 22px;
        font-size: 13px;
        letter-spacing: .25px;
    }
    div {
        width: 90%;
        p {
            text-align: right;
            width: 100%;
            font-size: 12px;
            margin-top: -5px;
        }
        p:nth-child(1) {
            margin-top: 15px;
            text-transform: uppercase;
            color: $ltBlue;
            letter-spacing: 2px;
            font-size: 1px;               
        }
    }
}

@media (min-width:800px){
    .review-card {
        width: 70%;
    }
}