.span {
    border: solid 1px brown;
    width: 250px;
    height: 150px !important;
}

// REVIEW CAROUSEL //

.review-carousel {
    // margin-top: 20px;
    background-color: rgba($color: #E2E2E2, $alpha: .2);
}

.review-slide {
    min-height: 115px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-top: 18px;
    p {
        width: 85%;
        padding-left: 15px;
    }
    p:nth-child(1){
        border-left: 1px solid black;
        font-style: italic;
        margin-left: 5px;
        font-size: 12px;
    }
    p:nth-child(2) {
        font-size: 10px;
    }
    p:nth-child(3) {
        font-size: 8px;
        margin-top: -8px;
    }
}

@media (min-width:768px){
    .review-slide {
        height: 150px;
        padding-left: 25px;
        padding-top: 18px;
        p:nth-child(1){
            margin-top: 20px;
            font-size: 15px;
        }
        p:nth-child(2) {
            font-size: 13px;
        }
        p:nth-child(3) {
            font-size: 10px;
            margin-top: -8px;
        }
    }
}

@media (min-width:1000px){
    .review-slide {
        height: 175px;
        padding-left: 35px;
        p:nth-child(1){
            margin-top: 30px;
            font-size: 16px;
        }
    }
}