.span {
    border: solid 1px brown;
    width: 250px;
    height: 150px !important;
}

// REVIEW CAROUSEL //

.review-carousel {
    min-height: 130px;
    background-color: rgba($color: $dkGray, $alpha: 1);
    border-bottom: 4px solid $gold;
    border-top: 4px solid $gold;
}

.review-slide {
    height: 12px !important;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    p {
        color: $ltGray;
        width: 85%;
        padding-left: 15px;
        margin-left: 5px;
    }
    p:nth-child(1){
        font-style: italic;
        font-size: 12px;
        margin-top: 18px !important;
    }
    p:nth-child(2) {
        font-size: 10px;
        margin-left: 10px;
    }
    p:nth-child(3) {
        font-size: 8px;
        margin-left: 10px;
        margin-top: -8px;
        color: $gold;
    }
}

@media (min-width:768px){
    .review-slide {
        padding-left: 25px;
        padding-top: 18px;
        p:nth-child(1){
            margin-top: 0px !important;
            font-size: 14px;
        }
        p:nth-child(2) {
            font-size: 13px;
        }
        p:nth-child(3) {
            font-size: 10px;
            margin-top: -8px;
        }
    }
}

@media (min-width:1000px){
    .review-slide {
        height: 175px;
        padding-left: 35px;
        p:nth-child(1){
            margin-top: 30px;
        }
    }
}